.welcome {

}

.sign-image {
  height: 330px;
}

table {
  margin-left: 13%;
}

.body {
   background-image: url(''); 
   background-repeat: no-repeat;
   background-position: center;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  }