.welcome {
  font-family: 'Architects Daughter', cursive;
}

.sign-image {
  height: 330px;
  border: 8px double #151B8D;
  border-radius: 2%;
}

.body {
  background-color: #C2DFFF;

}

#index-table {
  margin-left: 13%;
  background-color: #C3FDB8;
  padding-right: 2%;

}

  .show-th {
    width: 80px;
  }

  #show-table {
    margin: 5%;
  }


  /* Grow with hover.css */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.symbol {
  max-height: 30px;
  margin-left: 5px;
}

#earth-row, #water-row, #thead-row {
  background-color: #F0FFFF;
}

#show-body {
  background-color: #F70D1A;
}

#show-body > h1, #show-body > h4, #home-link {
  color: yellow;
}

.my-name {
  margin-left: 13%;
  font-size: 20px;
  color: #F70D1A;
}

.show-name {
  margin-left: 5%;
  font-size: 20px;
  color: yellow;
}


/* responsive table code */

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

/* Mobile */
@media only screen and (max-width: 767px) {
  
  table { margin-bottom: 0; }
  
  .pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
  .pinned table { border-right: none; border-left: none; width: 100%; }
  .pinned table th, .pinned table td { white-space: nowrap; }
  .pinned td:last-child { border-bottom: 0; }
  
  div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
  div.table-wrapper div.scrollable table { margin-left: 35%; }
  div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }  
  
  table td, table th { position: relative; white-space: nowrap; overflow: hidden; }
  table th:first-child, table td:first-child, table td:first-child, table.pinned td { display: none; }
  
}